debug_mode: true
server:
  host: "web"# connect to docker-network hostname(defined in docker-compose)
  port: 8080
database:
  dbserver:
    host: "database" #  same as server.host
    port: 5432
  credentials:
    user: "postgres"
    pass: "postgres"
    dbname: "postgres"
    schema: "adverts_schema"
cache:
  host: "cache"
  port: 6379
  expiration: 1
validation:
  max_pics_num: 3
  max_description_len: 1000
  max_name_len: 200
advert_list_page:
  max_adverts_on_page: 10
